@{
    ViewBag.Title = "RiglBox";
}

<div class="jumbotron" style="background: black;">
@*    <img src="@Url.Content(Model.ImagePath)" alt="Image" />*@
    @*<img src="~/Views/Home/blackpic.jpg"/>*@
    <h1 class="text-center">RiglBox</h1>
    <p class="lead">
        A puzzle box (also called a secret, or trick box) is a box that can only be opened through some obscure or complicated series of manipulations. Some puzzle boxes may require only a simple squeeze in the correct area, whereas others may require the subtle movement of several small parts, to open the box. Some puzzle boxes are comparable to burr puzzles.
        The puzzle box originated in the Hakone region of Japan at the turn of the 19th century as the Himitsu-Bako, or Secret Box. If opened, a puzzle box can contain a good luck charm.[1] These boxes were made in various complexities, and consist of moves with a variety of twists to trick the person trying to open the box, but the trick is finding the correct series of movements that can range from two to over 1500 moves.
    </p>

    <a href="~/Static/Riglbox2.html">Play in Web player</a>

</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@